.scroll-container {
  /* Bật tính năng scroll snap theo chiều dọc */
  scroll-snap-type: y mandatory;
  
  /* Bắt buộc phải có overflow để scroll snap hoạt động */
  overflow-y: scroll;
  
  /* Chiều cao của container bằng chiều cao màn hình */
  height: 100vh;
}

/* Ẩn thanh cuộn trên các trình duyệt hỗ trợ */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


.scroll-container>section {
  scroll-snap-align: start;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-container>section *{
  opacity: 0;
  transition: 0.5s;
}
.scroll-container>section.is-visible *{
  opacity: 1;
}